<div class="section-headers">DIVIDEND INFORMATION</div>

<div class="container__graph-area-ratios">
	<div class="graph-area-squares">
		<div class="graph-area-header">Dividend Per Share</div>
		<div class="graph-area-value">$ <%= companyDividendPerShare %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Dividend Yield</div>
		<div class="graph-area-value"><%= companyDividendYield %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Payout Ratio</div>
		<div class="graph-area-value"><%= companyPayoutRatio %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Forward Annual Dividend Rate</div>
		<div class="graph-area-value"><%= companyForwardAnnualDividendRate %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Forward Annual Dividend Yield</div>
		<div class="graph-area-value"><%= companyForwardAnnualDividendYield %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Last Split Factor</div>
		<div class="graph-area-value"><%= companyLastSplitFactor %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Dividend Date</div>
		<div class="graph-area-value"><%= companyDividendDate %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Ex-Dividend Date</div>
		<div class="graph-area-value"><%= companyExDividendDate %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>

	<div class="graph-area-squares">
		<div class="graph-area-header">Last Split Date</div>
		<div class="graph-area-value"><%= companyLastSplitDate %></div>
		<div class="hover-display">
			<p class="hover-text">
				Market Capitalization: Total number of outstanding shares multiplied by the current
				market price of the stock.
			</p>
		</div>
	</div>
</div>
