<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body class="container">
		<%- include('./partials/navbar.ejs') %> <%- include('./partials/landing-page.ejs') %>
		<%-include('./partials/about-website.ejs') %>

		<div class="container__searchBar">
			<form action="/company-search" class="search-company-form" method="POST">
				<input
					class="searchBar"
					name="searchBar"
					type="text"
					action="/admin/search"
					method="POST"
					placeholder="Enter NASDAQ-100 Company Name"
				/>
			</form>
		</div>

		<% if(companyName != null) { %>

		<div class="container__viewSelectButtons">
			<button class="viewButton" style="margin-left: 10%; margin-right: 10%">
				Company Overview
			</button>
			<button class="viewButton" style="margin-right: 10%">Balance Sheet</button>
			<button class="viewButton">Cash Flow</button>
		</div>

		<div class="container__graph-area-ratios-top">
			<div class="graph-area-squares">
				<span class="graph-area-header">Company Name:</span>
				<span class="graph-area-value"><%= companyName %></span>

				<span style="display: inline" class="graph-area-header">Ticker:</span>
				<span style="display: inline" class="graph-area-value"><%= companyTicker %></span>

				<span style="display: inline" class="graph-area-header">Asset Type:</span>
				<span style="display: inline" class="graph-area-value"
					><%= companyAssetType %></span
				>
			</div>
			<div class="graph-area-squares">
				<span style="display: inline" class="graph-area-header">Sector:</span>
				<span style="display: inline" class="graph-area-value"><%= companySector %></span>

				<div class="graph-area-header">Latest Quarter:</div>
				<div class="graph-area-value"><%= companyLatestQuarter %></div>

				<div class="graph-area-header">Headquarters:</div>
				<div class="graph-area-value"><%= companyHQ %></div>
			</div>
		</div>

		<div class="section-headers">KEY PARAMETERS</div>

		<div class="container__graph-area-ratios">
			<div class="graph-area-squares">
				<div class="graph-area-header">Market Capitalization</div>
				<div class="graph-area-value">$ <%= companyMarketCap %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Profit Margin</div>
				<div class="graph-area-value"><%= companyProfitMargin %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Gross Profit</div>
				<div class="graph-area-value">$ <%= companyGrossProfit %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Revenue Per Share</div>
				<div class="graph-area-value">$ <%= companyRevenuePerShare %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Revenue</div>
				<div class="graph-area-value">$ <%= companyRevenue %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Operating Margin</div>
				<div class="graph-area-value"><%= companyOperatingMargin %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Earnings Per Share</div>
				<div class="graph-area-value"><%= companyEPS %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Return on Assets</div>
				<div class="graph-area-value"><%= companyReturnOnAssets %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Return on Equity</div>
				<div class="graph-area-value"><%= companyReturnOnEquity %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">DilutedEPS</div>
				<div class="graph-area-value"><%= companyDilutedEPS %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">EBITDA</div>
				<div class="graph-area-value"><%= companyEBITDA %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Price to Earnings (PE) Ratio</div>
				<div class="graph-area-value"><%= companyPERatio %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">PE to Growth (PEG) Ratio</div>
				<div class="graph-area-value"><%= companyPEGRatio %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Book Value</div>
				<div class="graph-area-value"><%= companyBookValue %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Quarterly Earnings Growth Year-on-Year</div>
				<div class="graph-area-value"><%= companyQuarterlyEarningsYOY %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Quarterly Revenue Growth Year-on-Year</div>
				<div class="graph-area-value"><%= companyQuarterlyRevenueYOY %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Trailing PE</div>
				<div class="graph-area-value"><%= companyTrailingPE %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Forward PE</div>
				<div class="graph-area-value"><%= companyForwardPE %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Price to Sales Ratio</div>
				<div class="graph-area-value"><%= companyPriceToSales %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Price to Book Ratio</div>
				<div class="graph-area-value"><%= companyPriceToBook %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">EV to Revenue</div>
				<div class="graph-area-value"><%= companyEVToRevenue %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">EV to EBITDA</div>
				<div class="graph-area-value"><%= companyEVTOEBITDA %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Beta</div>
				<div class="graph-area-value"><%= companyBeta %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Shares Outstanding</div>
				<div class="graph-area-value"><%= companySharesOutstanding %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Shares Float</div>
				<div class="graph-area-value"><%= companySharesFloat %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Shares Short</div>
				<div class="graph-area-value"><%= companySharesShort %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Shares Short Prior Month</div>
				<div class="graph-area-value"><%= companySharesShortPriorMonth %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Short Ratio</div>
				<div class="graph-area-value"><%= companyShortRatio %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Short Percent Outstanding</div>
				<div class="graph-area-value"><%= companyShortPercentOutstanding %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Short Percent Float</div>
				<div class="graph-area-value"><%= companyShortPercentFloat %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Percent Institutions</div>
				<div class="graph-area-value"><%= companyPercentInstitutions %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Percent Insiders</div>
				<div class="graph-area-value"><%= companyPercentInsiders %></div>
			</div>
		</div>

		<% if(companyDividendDate != "None") { %>

		<div class="section-headers">DIVIDEND INFORMATION</div>

		<div class="container__graph-area-ratios">
			<div class="graph-area-squares">
				<div class="graph-area-header">Forward Annual Dividend Rate</div>
				<div class="graph-area-value"><%= companyForwardAnnualDividendRate %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Forward Annual Dividend Yield</div>
				<div class="graph-area-value"><%= companyForwardAnnualDividendYield %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Payout Ratio</div>
				<div class="graph-area-value"><%= companyPayoutRatio %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Dividend Date</div>
				<div class="graph-area-value"><%= companyDividendDate %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Ex-Dividend Date</div>
				<div class="graph-area-value"><%= companyExDividendDate %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Last Split Factor</div>
				<div class="graph-area-value"><%= companyLastSplitFactor %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Last Split Date</div>
				<div class="graph-area-value"><%= companyLastSplitDate %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Dividend Per Share</div>
				<div class="graph-area-value"><%= companyDividendPerShare %></div>
			</div>

			<div class="graph-area-squares">
				<div class="graph-area-header">Dividend Yield</div>
				<div class="graph-area-value"><%= companyDividendYield %></div>
			</div>
		</div>
		<% } %>
		<!--

		<div class="container__graph-area-3">
			<form action="#">
				<p>
					<input type="checkbox" class="graph-params" value="total-current-assets" />
					<label for="graph-params">Total Current Assets</label><br />
				</p>

				<input type="checkbox" class="graph-params" name="" value="" />
				<label for="graph-params">Total Non-Current Assets</label><br />

				<input type="checkbox" class="graph-params" name="" value="" />
				<label for="graph-params">Total Assets</label><br />

				<input type="checkbox" class="graph-params" name="" value="" />
				<label for="graph-params">Total Current Liabilities</label><br />

				<input type="checkbox" class="graph-params" name="" value="" />
				<label for="graph-params">Total Non-Current Liabilities</label><br />

				<input type="checkbox" class="graph-params" name="" value="" />
				<label for="graph-params">Total Liabilities</label><br />

				<input type="checkbox" class="graph-params" name="" value="" />
				<label for="graph-params">Stockholders' Equity</label><br />
			</form>
		</div>

-->
		<% } %> <%-include('./partials/future-work.ejs') %>
		<div class="container__contact-form">contact form</div>
		<div class="container__footer">
			footer area "Icon made by Freepik from www.flaticon.com"
		</div>
	</body>
</html>
